.experience {
    .position {
        float: right;
    }
}

.experience {
    .icons {
        font-size: 40px;
        display: inline-block;
        float: left;
        vertical-align: middle; 
    }
}

.experience {
    ul {
        list-style: square;
    }
}