.side-projects {
    .icons {
        font-size: 40px;
        position: relative;
        display: inline-block;
        float: right;
        vertical-align: middle; 
        padding-top: 10px;
    }
}

.side-projects {
    .container {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}