.navbar a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 10px;
    text-transform: uppercase;
}

.navbar li {
    display: inline;
}

.navbar .pull-left {
    padding-left: 0px; 
}

.navbar .pull-right {
    padding-left: 0px; 
}

.navbar {
    padding-top: 15px;
    background-color: #000000;
    border-bottom: none;
}

.jumbotron {
    background-image:url(background.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron2 {
    background-image:url(background.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    position: relative;
    top:50px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black
}

.jumbotron .container2 {
    margin-top: 100px;
    padding-left: 33%;
}

.jumbotron2 .container{
    position: relative;
    top:20%;
}

.jumbotron .container2 .row {
    margin: auto;
}

.jumbotron h1 {
    color: #FFFFFF;
    font-size: 120px;  
    font-family: 'Shift', sans-serif;
    font-stretch: ultra-expanded; 
    font-weight: bold;
    text-align: center;
    text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.jumbotron2 h1{
    color: #FFFFFF;
    font-size: 120px;  
    font-family: 'Shift', sans-serif;
    font-stretch: ultra-expanded; 
    font-weight: bold;
    text-align: center;
    text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.jumbotron h2 {
    font-size: 32px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    font-family: 'Shift', sans-serif;
    text-shadow:
    2px 2px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -2px 0 #000,  
    1px -2px 0 #000,
   -1px  2px 0 #000,
    1px  2px 0 #000;
}

.jumbotron p {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 20px;
    text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.jumbotron img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron .col-md-2{
    display: inline-block;
}

.about-me .container{
    margin: auto;
    padding-bottom: 50px;
    padding-right: 50px;
}

.about-me h2{
    padding-left: 50px;
    font-family: 'Shift', sans-serif;
    font-size: 52px;
}

.about-me img{
    display: block;
    margin-left: 50px;
    margin-right: auto;
}

.about-me p{
    /* font-style change it 
    center it? */
    font-size: 18px;
}

.footer {
    top: 100px;
    background-image:url(background.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
}

.footer .container {
    position: relative;
    top: 20%;
}

.footer h2 {
    font-size: 64px;
    text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
    padding-bottom: 20px;
}

.footer p {
    font-size: 20px;
    text-shadow:
    3px 3px 0 #000,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

.footer i {
    text-align: center;
    text-shadow: none;
}

.footer a {
    color: #FFFFFF;   
}

.side-projects .container {
    margin: auto;
    padding-bottom: 10px;
    padding-right: 0px;
}

.side-projects .icons {
    padding-top: 10px;
    position: relative;
    display: inline-block;
    float: right;
    vertical-align: middle; 
    font-size: 50px;
}

.side-projects h3 {
    position: relative;
    display: inline-block;
    float: left;
    font-size: 40px;
    vertical-align: middle;
}

.side-projects p {
    margin: auto;
    font-size: 18px;
    padding-left: 10px;
}

.side-projects .header {
    padding-top: 20px;
    margin: auto;
    overflow: hidden;
    border-bottom-color: #000000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.skills .container {
    margin: auto;
    padding-bottom: 10px;
}

.skills h3 {
    text-align: center;
    font-size: 48px;
    vertical-align: middle;
}

.skills h4 {
    text-align: center;
    font-size: 30px;
    vertical-align: middle;
}

.skills p {
    text-align: center;
    font-size: 16px;
}

.skills .header {
    margin: auto;
    overflow: hidden;
    border-bottom-color: #000000;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}