.footer {
    background-color: #054F59;
    height: 400px;
    color: #FFFFFF;
    text-align:center;
    
    .container {
        position: relative;
        top: 10%;
    }

    h2 {
        font-size: 52px;
        text-shadow:
        3px 3px 0 #000,
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
        padding-bottom: 20px;
    }
    
    p {
        font-size: 16px;
        text-shadow:
        3px 3px 0 #000,
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
    }
    
    i {
        text-align: center;
        text-shadow:
        3px 3px 0 #000,
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
    }
    
    a {
        color: #FFFFFF;   
    }
}

.footer2 {
    color: #000000;
    text-align:center;
}