.skills { 
    h3 {
        font-size: 48px;
        text-align: center;
        vertical-align: middle;
    }
    
    ul {
        display: none;
        margin: 0px;
        padding: 0px;
        list-style: square; 
    }
    
    li {
        font-size: 16px;
        text-align: left;
    }
    
    .pressed {
        background-color: #054F59;
        
        &:hover {
            background-color: #043F47;
        }
        
        &:focus {
            background-color: #043F47;
            outline: none;
        }
        
        &:active {
            background-color: #043F47;
        }
    }
    
    button {
        background-color: #137C8A;
        
        &:hover {
            background-color: #146A75;
        }
        
        &:focus {
            background-color: #137C8A;
            outline: none;
        }
        
    }
    
    .btn {
        &:active {
            background-color: #146A75;
        }
    }
}
