.experience {
    .position {
        float: right;
    }
    
    ul {
        position: relative;
        left: 2.5%;
        margin: 0px;
        padding: 0px;
        list-style: square; 
    }
    
    li {
        font-size: 18px;
        text-align: left;
    }
}